<div data-role="header", data-theme="e", data-positions="fixed">
  <h1>Log in</h1>
</div>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag %></p>
  <center>Don't have an account? 
    <%= link_to "Sign up", sign_up_path %></center>
<% end %>
